<!DOCTYPE html>
<html>

<head>
  <title>Safe PDF Split!</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" type="text/css">
  <link href="css/safepdfmerge.css" rel="stylesheet">
  <link href="css/split.css" rel="stylesheet">
</head>

<body class="split-pdf">
  <div class="flex-container">
    <div id="main-content-container">
      <a href="/"><img src="images/btn-merge.png" id="btn-merge"></a>
      <a href="/split"><img src="images/btn-split.png" id="btn-split"></a>
      <div id="main-content-outer">
        <div id="main-content">
          <div class="dropzone">
            <div class="dropzone-main-panel">
                <h1><p>Safe PDF Split</p></h1>
                <h3><p>Safely and Securely Split Your PDFs Online!</p></h3>
              <img src="/images/split.png" alt="Split Image" />
              <h2>Drop or Click</h2>
              <h3>20mb max</h3>
              <div class="progress">
                <div class="progress-bar" role="progressbar"></div>
              </div>
              <input type="button" id="btn-submit" value="Split">
              <input type="button" id="btn-clear" value="Clear Files">
            </div>
            <div id="pdf-list" class="pdf-list-inactive">
              <div>
                <h3><label id="file-name"></label></h3>
              </div>
              <div id="splitAllPages">
                <label id="splitAllPagesLabel"><input type="checkbox" id="cboxSplitAll"> Split all PDF pages into separate files</label><br>
              </div>
              <ul id="items">

              </ul>
              <div id="add-split">
                <img id="add-split-img" src="/images/add_split.png" alt="Add new split" />
                Click to add a new output file
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="push"></div>
    <footer>
      <a href="/terms_privacy">Terms & Privacy</a>
    </footer>
  </div>
  <input type="file" multiple="false" id="clickInput">
  <script src="js/jquery-2.2.0.min.js"></script>
  <script src="js/Sortable.min.js"></script>
  <script src="js/validation.js"></script>
  <script src="js/split.js"></script>
  <script src="js/safepdfmerge.js"></script>
</body>

</html>