<!DOCTYPE html>
<html>

<head>
  <title>Safe PDF Merge!</title>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png" />
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" type="text/css">
  <link href="css/safepdfmerge.css" rel="stylesheet">
</head>

<body>
  <div class="flex-container">
    <div id="main-content-container">
      <div id="main-content-outer">
        <div id="main-content">
          <div id="terms-privacy">
            <h2>Privacy Policy</h2>
            <h3>Uploaded files:</h3>
            <p>
              Files that are uploaded to our server are removed immediately after merging. After the merged file is downloaded it is deleted. Files older than 1 hour are deleted automatically every hour.
              <strong>No files are ever saved. Your files are private. 
            They are never shared and never made available to anyone else.</strong>
            </p>
            <h3>Data we collect:</h3>
            <p>
              We collect basic information from you for internal purposes to know how you are using our site. We collect your IP address as well as the file size and number of pages being merged.
              <strong>This information is never shared.</strong>
              <strong>Contents of the uploaded and merged files are never collected.</strong>
            </p>
            <hr>

            <h2>Terms of Service</h2>
            <h3>No warranties:</h3>
            <p>
              We make no warranty of any kind on any of the services we provide to you. It is recommended that you verify the integrity of each file after it is downloaded.
            </p>
            <h3>Limitation of liability:</h3>
            <p>
              Use of our services is done so at your own risk. We are not liable for any damages.
            </p>
            <h3>Copyrighted files:</h3>
            <p>
              Use of our services for copyrighted files is prohibited unless permission is granted by the owner.
            </p>
            <br>

            <a href="/">Back</a>
          </div>
        </div>
      </div>
    </div>
    <div id="push"></div>
    <footer>
      <a href="/terms_privacy">Terms & Privacy</a>
    </footer>
  </div>
  <input type="file" multiple="true" id="clickInput">
</body>

</html>