html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #4791D2;
    font-family: 'Didact Gothic', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

p{
    margin: 0;
}

input[type="text"] {
    border: 1px solid #CB0606;
    font-size: 17px;
    height: 35px;
    padding-left: 5px;
}

input[type="button"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background-color: #CB0606;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    width: 150px;
    font-size: 20px;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    font-family: 'Raleway', sans-serif;
    margin: 10px 0;
}

input[type="button"]:hover {
    background-color: #fe1a00;
}

input[type="button"]:active {
    position: relative;
    top: 1px;
}

input[type="button"] {
    outline: none;
}

input[type="button"]::-moz-focus-inner {
    border: 0;
}

input[type=checkbox] {
  transform: scale(1.5);
}

a,
a:visited {
    color: black;
    text-decoration: none;
}

.hr-vert {
    height: 100%;
    display: none;
    margin: 0 30px;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}

textarea:focus,
input:focus {
    outline: none;
}

#main-content {
    display: inline-block;
    padding: 20px;
    background: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    border: dashed 2px black;
}

#main-content-outer {
    display: inline-block;
    padding: 20px;
    background: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    margin-top: 150px;
}

#main-content-container {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#push {
    flex: 1;
}

.dropzone-main-panel {
    display: inline-block;
    vertical-align: top;
    width: 450px;
    min-height: 510px;
}

.dropzone {
    height: 100%;
    padding: 10px;
    color: #333;
    display: inline-block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -khtml-border-radius: 10px;
    vertical-align: top;
    -webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s;
}

.dropzone h1 {
    font-size: 48px;
    margin: 2px 0;
}

.dropzone h3 {
    margin-top: 0;
}

.dropzone h2 {
    font-size: 30px;
    margin: 2px 0;
}

#clickInput {
    display: none;
}

.progress {
    height: 30px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

#pdf-list {
    vertical-align: top;
    color: #333;
    display: inline-block;
    min-height: 510px;
    -webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s;
}

.pdf-list-active {
    border-left: 1px solid;
    width: 400px;
    margin-left: 30px;
    padding-left: 30px;
}

.pdf-list-inactive {
    border-left: 0;
    width: 0;
    margin-left: 0;
    padding-left: 0;
}

#items {
    padding-left: 10px;
    list-style-type: none;
    text-align: left;
    display:block;
}

.pdf-div {
    display: none;
    margin: 5px 0;
}

.remove-pdf-image {
    vertical-align: middle;
    height: 32px;
}

.pdf-image {
    display: inline-block;
    vertical-align: middle;
    height: 64px;
}

footer {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#terms-privacy {
    max-width: 600px;
}

#terms-privacy h3 {
    text-align: left;
}

#terms-privacy p {
    text-align: left;
}

#btn-split {
    position: absolute;
    left: 0;
    top: 60px;
}

#btn-merge {
    position: absolute;
    left: 0;
    top: 10px;
}
